node_modules/**/*
.expo/*
npm-debug.*
package-lock.json
yarn.lock
*.jks
*.p12
*.key
*.mobileprovision
.env

.github
OAuth.secrets.json
credentials.json
android/*

google-services.json
firebaseCredentials.json